# Ngrok Configuration - Kunal Kumar
# Auth Token and Version
version: 3
agent:
  authtoken: "Enter Authtoken From Ngrok Site"
  # Connection Timeout
  connect_timeout: 25s
  # Console UI
  console_ui: true
  console_ui_color: transparent
  # Heartbeat
  heartbeat_interval: 15s
  heartbeat_tolerance: 20s
  # Log
  log_level: info
  log_format: term
  log: off
  # Tunnels
  remote_management: true
  update_channel: stable
  update_check: true
  web_addr: 127.0.0.1:4000
endpoints:
  - name: testing
    upstream:
      url: 5000
      protocol: http2
  - name: demo
    upstream:
      url: 8000
      protocol: http2
